@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

#root > * {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary01: 252 93 46;
  /* #fc5d2e */
  --color-primary02: 253 174 150;
  /* #fdae96 */
  --color-primary03: 255 239 234;
  /* #ffefea */
  --color-neutral0: 11 12 15;
  /* #0b0c0f */
  --color-neutral10: 33 36 44;
  /* #21242c */
  --color-neutral20: 54 61 73;
  /* #363d49 */
  --color-neutral30: 76 85 103;
  /* #4c5567 */
  --color-neutral40: 98 109 132;
  /* #626d84 */
  --color-neutral50: 123 135 157;
  /* #7b879d */
  --color-neutral60: 152 161 179;
  /* #98a1b3 */
  --color-neutral70: 182 188 201;
  /* #b6bcc9 */
  --color-neutral80: 211 215 222;
  /* #d3d7de */
  --color-neutral90: 240 242 244;
  /* #f0f2f4 */
  --color-neutral100: 255 255 255;
  /* #ffffff */
  --color-blue: 0 122 255;
  /* #007aff */
  --color-green: 52 199 89;
  /* #34c759 */
  --color-yellow: 255 204 0;
  /* #ffcc00 */
  --color-orange: 255 149 0;
  /* #ff9500 */
  --color-red: 255 59 48;
  /* #ff3b30 */
  --color-mint: 0 199 190;
  /* #00c7be */
  --color-teal: 48 176 199;
  /* #30b0c7 */
  --color-cyan: 50 173 230;
  /* #32ade6 */
  --color-indigo: 88 86 214;
  /* #5856d6 */
  --color-purple: 175 82 222;
  /* #af52de */
  --color-pink: 255 45 85;
  /* #ff2d55 */
  --color-brown: 162 132 94;
  /* #a2845e */
  --color-lightblue: 229 242 255;
  /* #e5f2ff */

  /* 
		드래그 방지
	 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* 전역 스크롤바 스타일 */
  ::-webkit-scrollbar {
    width: 0px;
    border-radius: 99px;
    overflow-x: hidden;
  }
  /* 스크롤바 트랙 (배경) */
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 99px;
  }

  /* 스크롤바 핸들 (thumb) */
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 8px;
  }

  .unvisible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scroll-container::-webkit-scrollbar-track {
    background-color: rgb(var(--color-neutral90));
  }
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-neutral80));
  }

  overscroll-behavior: none;
  overflow-x: hidden;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: black;
}

.input-fit-size {
  field-sizing: content;
}

.dark {
  --color-primary01: 255 239 234;
  --color-primary02: 253 174 150;
  --color-primary03: 252 93 46;
  --color-neutral0: 255 255 255;
  --color-neutral10: 240 242 244;
  --color-neutral20: 211 215 222;
  --color-neutral30: 182 188 201;
  --color-neutral40: 152 161 179;
  --color-neutral50: 123 135 157;
  --color-neutral60: 98 109 132;
  --color-neutral70: 76 85 103;
  --color-neutral80: 54 61 73;
  --color-neutral90: 33 36 44;
  --color-neutral100: 11 12 15;
  --color-blue: 0 122 255;
  --color-green: 52 199 89;
  --color-yellow: 255 204 0;
  --color-orange: 255 149 0;
  --color-red: 255 59 48;
  --color-mint: 0 199 190;
  --color-teal: 48 176 199;
  --color-cyan: 50 173 230;
  --color-indigo: 88 86 214;
  --color-purple: 175 82 222;
  --color-pink: 255 45 85;
  --color-brown: 162 132 94;
  --color-lightblue: 229 242 255;
}

@layer components {
  /* display */
  .display-large-t {
    @apply text-[57px] font-semibold leading-[68.02px];
  }

  .display-medium-t {
    @apply text-[45px] font-semibold leading-[53.7px];
  }

  .display-small-t {
    @apply text-[36px] font-semibold leading-[42.96px];
  }

  .display-large-p {
    @apply text-[57px] font-semibold leading-[95.19px] tracking-[-1.1px];
  }

  .display-medium-p {
    @apply text-[45px] font-semibold leading-[75.15px] tracking-[-0.7px];
  }

  .display-small-p {
    @apply text-[36px] font-semibold leading-[59.76px] tracking-[-0.5px];
  }

  /* headline */
  .headline-large-t {
    @apply text-[32px] font-medium leading-[38.19px];
  }

  .headline-medium-t {
    @apply text-[28px] font-medium leading-[33.41px];
  }

  .headline-small-t {
    @apply text-[24px] font-medium leading-[28.64px];
  }

  .headline-large-p {
    @apply text-[32px] font-medium leading-[53.12px] tracking-[-4px];
  }

  .headline-medium-p {
    @apply text-[28px] font-medium leading-[47.04px] tracking-[-0.3px];
  }

  .headline-small-p {
    @apply text-[24px] font-medium leading-[39.84px] tracking-[-0.2px];
  }

  /* title */
  .title-large-t {
    @apply text-[22px] font-semibold leading-[26.25px];
  }

  .title-medium-t {
    @apply text-[16px] font-semibold leading-[19.09px];
  }

  .title-small-t {
    @apply text-[14px] font-semibold leading-[16.71px];
  }

  .title-large-p {
    @apply text-[22px] font-semibold leading-[37.18px] tracking-[-0.2px];
  }

  .title-medium-p {
    @apply text-[16px] font-semibold leading-[24px] tracking-[-0.1px];
  }

  .title-small-p {
    @apply text-[14px] font-semibold leading-[23.8px] tracking-[-0.1px];
  }

  /* lable */
  .lable-large-t {
    @apply text-[14px] font-semibold leading-[16.71px];
  }

  .lable-medium-t {
    @apply text-[12px] font-semibold leading-[14.32px];
  }

  .lable-large-p {
    @apply text-[14px] font-semibold leading-[23.8px] tracking-[-0.2px];
  }

  .lable-medium-p {
    @apply text-[12px] font-semibold leading-[19.92px] tracking-[-0.1px];
  }

  /* body */
  .body-large-t {
    @apply text-[16px] font-normal leading-[19.09px];
  }

  .body-medium-t {
    @apply text-[14px] font-normal leading-[16.71px];
  }

  .body-small-t {
    @apply text-[12px] font-normal leading-[14.32px];
  }

  .body-large-p {
    @apply text-[16px] font-normal leading-[24px] tracking-[-0.1px];
  }

  .body-medium-p {
    @apply text-[14px] font-normal leading-[23.24px] tracking-[-0.1px];
  }

  .body-small-p {
    @apply text-[12px] font-normal leading-[19.92px] tracking-[-0.1px];
  }
}

.gradient-border {
  background: linear-gradient(60deg, #fc5d2e, #ffefea);
  position: relative;
  border-radius: 4px;
  animation: animatedgradient 3s ease infinite;
  background-size: 400% 400%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-bold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nanum-gothic-extrabold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-style: normal;
}
